<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet">
<div class="row">
  <img src="../assets/themes/mnk-customer-header-2.jpg" alt="photo">
</div>
<div class="warpper" style="margin:20px">
  <div class="row">
    <div class="col-md-10">
      <input type="text" class="col-md-8"
        placeholder="Enter Barcode number" input type="number"
        [(ngModel)]="barcodeNumber" aria-label="Barcode Number">
    </div>
    <!-- <div class="row">
      <ngx-barcode *ngIf="barcodeNumber && barcodeNumber != ''" [bc-value]="barcodeNumber" [bc-format]="barCodeFormat" [bc-display-value]="true"></ngx-barcode>    </div>
      <div class="row">
      
    </div> -->

    <div class="col-md-2">
      <button class="btn btn-primary"
        (click)="onButtonClick()">Submit</button>
    </div>
  </div>
  <div class="warpper" style="margin-top: 20px;">
    <div class="row" *ngIf="report">
      <div class="col-md-10">
        <h3>Result:</h3>
        <p>{{ report.Header }}</p>
      </div>
      <div class="col-md-2">
        <button class="btn btn-success" (click)="printLabReport()"> <i
            class="fa fa-print"></i> Print</button>
      </div>
      <div class="row" *ngIf="report!=null" style="margin-top: 2px;"
        id="id_report_search_print-page">
        <div #exportContent id="lab-report"
          class="padding-15-hr margin-50-tp">
          <div class="lab-rpt-container" id="lab-report-main">
            <div class="rpt-curholder">
              <div class="rep-containr" [ngClass]="hospitalCode">
                <div class="flex-container txt-left">
                  <div class="single-head">
                    <div *ngIf="report.PrintedBy"
                      class="display-blk margin-7-hr">
                      <strong>Last Printed By</strong> :
                      {{report.PrintedByName}} , &nbsp;
                    </div>
                    <div *ngIf="report.PrintCount" class="display-blk">
                      <div>
                        <strong>Print Count</strong> :
                        {{report.PrintCount}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <table class="patient-info-tabl lab-report-tbl">
                <thead class="show-gap">
                  <tr>
                    <td colspan="2">
                      <div class="row">
                        <img src="../assets/themes/mnk-customer-header-2.jpg"
                          alt="photo">
                      </div>
                    </tr>
                    <tr>
                      <td colspan="2" class="prelim-sig-holder">
                        <div class="patient-info-box" id="single-lab-report">
                          <div
                            class="flex-container flex-align-center justify-sp-around">
                            <div class="single-head">
                              <div class="left-col-data">
                                <strong>Name</strong> :
                                {{report.Lookups.PatientName}}
                              </div>
                            </div>
                            <div class="single-head">
                              <div class="right-col-data">
                                <div style="position: relative;">
                                  <div class="lab-barcode-holder" style="
                                        position: absolute;
                                        right: 2px;
                                        top: -2px;
                                      ">
                                      <div>
                                        <svg #barcode>
                                          
                                        </svg></div>
                                        
                                      
                                  </div>
                                  <strong>Patient No.</strong> :
                                  {{report.Lookups.PatientCode}}
                                  (<b>{{report.Lookups.VisitType}}</b>)
                                  <b *ngIf="hasInsurance"> / (Insurance)</b>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="flex-container flex-align-center justify-sp-around">
                            <div class="single-head">
                              <div class="left-col-data">
                                <strong>Address</strong> :
                                {{report.Lookups.CountrySubDivisionName != null
                                ?
                                report.Lookups.CountrySubDivisionName + ',' : ''
                                }}
                                {{report.Lookups.MunicipalityName != null?
                                report.Lookups.MunicipalityName +
                                ',' : '' }}
                                {{report.Lookups.Address}}
                              </div>
                            </div>
                            <div class="single-head">
                              <div class="right-col-data">
                                <div
                                  [ngClass]="showBarCode ? 'right-hdrwith-barcode right-hdr':'right-hdr'">
                                  <strong>Age/Sex</strong> :
                                  {{report.Lookups.DOB}}
                                  /{{report.Lookups.Gender}}
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="flex-container flex-align-center justify-sp-around">
                            <div class="referredby single-head">
                              <!--removed white-space: nowrap;-->
                              <div class="left-col-data">
                                <!-- <strong>Referred By :  </strong> <input *ngIf="enableDrEdit" onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px';" id="docNameTextBox" type="text" [(ngModel)]="report.Lookups.ReferredBy" (focusout)="makeDoctorEdit()" autofocus /> <span (click)="makeDoctorEdit()" *ngIf="!enableDrEdit">{{report.Lookups.ReferredBy}}</span> -->
                                <strong>{{ referredByLabelInLabReport }} :
                                </strong><span>{{report.Lookups.ReferredBy}}</span></div>
                            </div>
                            <div class="single-head">
                              <div class="right-col-data">
                                <div
                                  [ngClass]="showBarCode ? 'right-hdrwith-barcode right-hdr':'right-hdr'">
                                  <strong>Receiving Date</strong> :
                                  {{report.Lookups.ReceivingDate}}
                                  ({{report.Lookups.ReceivingDate}})
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="flex-container flex-align-center justify-sp-around">
                            <div class="single-head">
                              <div class="left-col-data">
                                <strong>Collection Site</strong> :
                                {{collectionSite}}
                              </div>
                            </div>
                            <div class="single-head">
                              <div class="right-col-data">
                                <div
                                  [ngClass]="showBarCode ? 'right-hdrwith-barcode right-hdr':'right-hdr'">
                                  <strong>Testing Date</strong>
                                  :{{report.Lookups.ReportingDate}}
                                  ({{report.Lookups.ReportingDate}})
                                </div>
                              </div>
                            </div>
                          </div>

                          <div
                            class="flex-container flex-align-center justify-sp-around">
                            <div class="single-head">
                              <div class="left-col-data">
                                <strong>Lab No</strong> :
                                {{report.Lookups.SampleCodeFormatted}}
                              </div>
                            </div>
                            <div class="single-head">
                              <div class="right-col-data">
                                <div
                                  [ngClass]="showBarCode ? 'right-hdrwith-barcode right-hdr':'right-hdr'">
                                  <strong>Reporting Date</strong>
                                  :{{report.Lookups.VerifiedOn}}
                                  ({{report.Lookups.VerifiedOn }})
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="flex-container flex-align-center justify-sp-around">
                            <div class="single-head">
                              <div class="left-col-data">
                                <strong>Specimen</strong> :
                                {{report.Lookups.Specimen}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </thead>
                  <tfoot style="display: table-footer-group;">
                    <tr>
                      <td colspan="2">
                        <div class="lab-qrholder text-center"
                          *ngIf="qrCode && (qrCode.length > 0)">
                          <!-- <qr-code *ngIf="qrCode" [value]="qrCode" [size]="80" [backgroundAlpha]="0"></qr-code> -->
                        </div>
                        <div id="signatureList" class="lab-rpt-sign"
                          *ngIf="report.Signatures && showSignatories">
                          <div
                            class="flex-container justify-sp-between all-signatures"
                            style="align-items: flex-end;">
                            <ng-container *ngIf="report.Signatures.length">
                              <div class="signature-item"
                                *ngFor="let emp of report.Signatures; let i=index;">
                                <div class="signature-image-holder"
                                  *ngIf="showDigitalSignature && emp.SignatoryImageName && emp.SignatoryImageName.trim() != ''">
                                  <div class="all-signature-images">
                                    <img class="labsignature-image"
                                      id="signImage{{i}}"
                                      [style.display]="emp.Show ? 'inline-block':'none'"
                                      src="../../../../../../fileuploads/EmployeeSignatures/{{emp.SignatoryImageName}}"
                                      alt="{{emp.EmployeeFullName}} Signature" />
                                  </div>
                                </div>
                                <div class="signature-item-inside"
                                  [ngClass]="i>2 ? 'martop' : ''">
                                  <div class="main-signature"
                                    *ngIf="emp.Signature"
                                    [innerHTML]="emp.Signature"></div>
                                </div>
                              </div>
                            </ng-container>
                            <div *ngIf="showReportDispatcherSignatory"
                              class="signature-item">
                              <div class="signature-image-holder"
                                *ngIf="showDigitalSignature">
                                <div class="all-signature-images">
                                  <button id="hideCurrUserSignImage"
                                    [style.display]="CreatedByUser.Show ? 'inline-block':'none'"
                                    [ngStyle]="{'display':'inline-block'}"
                                    (click)="ShowHideDigitalImage(CreatedByUser)"
                                    class="close-btn no-print signature-image-remove"
                                    data-html2canvas-ignore="true">
                                    X
                                  </button>
                                  <button id="showCurrUserSignImage"
                                    [style.display]="CreatedByUser.Show ? 'none':'inline-block'"
                                    (click)="ShowHideDigitalImage(CreatedByUser)"
                                    class="signature-image-show no-print">
                                    Show ESignature
                                  </button>
                                  <img class="labsignature-image"
                                    id="currUserSignImage"
                                    [style.display]="CreatedByUser.Show ? 'inline-block':'none'"
                                    src="../../../../../../fileuploads/EmployeeSignatures/{{CreatedByUser.SignatoryImageName}}"
                                    alt="{{CreatedByUser.FullName}} Signature" />
                                </div>
                              </div>
                              <div class="signature-item-inside dispatcher-sign"
                                [ngClass]="report.Signatories && report.Signatories.length>2 ? 'martop' : ''">
                                <div class="main-signature"
                                  [innerHTML]="CreatedByUser.LabSignature"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tfoot>

                  <!--Incase if template Type of a test is NOT html-->
                  <ng-container *ngIf="report.TemplateType != 'html'">
                    <tbody style="display: table-row-group;">

                      <tr>
                        <td colspan="2" style="padding: 0;">
                          <!-- Template Type != "Html" -->

                          <div class="table-holder">
                            <div>
                              <div class="flex-container">
                                <!--Table of a particular template-->
                                <table
                                  class="single-tempate-table lab-report-tbl border-around">
                                  <ng-container
                                    *ngFor="let tmplate of report.Templates; let i=index;">
                                    <thead *ngIf="i==0">
                                      <tr>
                                        <th style="
                                              text-align: left;
                                              text-transform: none;
                                            "
                                          *ngIf="tmplate.TemplateColumn.Name">
                                          Test(s)
                                        </th>
                                        <th style="text-align: left;"
                                          *ngIf="tmplate.TemplateColumn.Result">
                                          Finding(s)
                                        </th>
                                        <th style="text-align: left;"
                                          *ngIf="showHideHighLowNormalFlag && tmplate.TemplateType=='normal'">
                                          Flag
                                        </th>
                                        <th style="text-align: left;"
                                          *ngIf="tmplate.TemplateColumn.Unit">
                                          Unit
                                        </th>
                                        <th style="text-align: left;"
                                          *ngIf="tmplate.TemplateColumn.Range">
                                          Ref. Range
                                        </th>
                                        <th style="text-align: left;"
                                          *ngIf="tmplate.TemplateColumn.Method">
                                          Method
                                        </th>
                                        <th style="text-align: center;"
                                          *ngIf="tmplate.TemplateColumn.Remarks">
                                          Remarks
                                        </th>
                                      </tr>
                                    </thead>

                                    <!--Contains all the tests of the template-->
                                    <ng-container
                                      *ngIf="tmplate.TemplateType=='normal'">
                                      <!-- <tbody [ngClass]="tmplate.Print ? 'showInPrint' : 'tempate-table dontShowInPrint'"> -->
                                      <tbody>

                                        <tr>
                                          <td style="
                                                text-align: center;
                                                text-transform: uppercase;
                                              " class="frmt2-headertxt"
                                            [attr.colspan]="tmplate.ColumnCounts">
                                            <strong>{{tmplate.HeaderText}}</strong>
                                          </td>
                                        </tr>
                                        <ng-container
                                          *ngFor="let res of tmplate.Tests; let rnum = index">
                                          <tr class="test-reportname-row"
                                            *ngIf="res.Components.length > 1 || res.Components[0].IsNegativeResult">
                                            <th
                                              *ngIf="tmplate.TemplateColumn.Name">
                                              <label class="margin-0-vr"
                                                for="{{res.ReportingName+rnum}}"><b>{{res.ReportingName}}</b></label>
                                            </th>
                                            <th
                                              *ngIf="tmplate.TemplateColumn.Result"></th>
                                            <th
                                              *ngIf="showHideHighLowNormalFlag && tmplate.TemplateType=='normal'"></th>
                                            <th
                                              *ngIf="tmplate.TemplateColumn.Unit"></th>
                                            <th
                                              *ngIf="tmplate.TemplateColumn.Range"></th>
                                            <th
                                              *ngIf="tmplate.TemplateColumn.Method"></th>
                                            <th
                                              *ngIf="tmplate.TemplateColumn.Remarks"></th>
                                          </tr>
                                          <!--Main result data addition work goes here-->
                                          <ng-container
                                            *ngIf="!res.Components[0].IsNegativeResult">
                                            <tr
                                              *ngFor="let cmp of res.Components; let idx = index;">

                                              <td class="compname"
                                                *ngIf="tmplate.TemplateColumn.Name && cmp.ControlType == 'Label'">
                                                <ng-container
                                                  *ngIf="tmplate.TemplateColumn"></ng-container>
                                                <label class="margin-0-vr"
                                                  for="{{cmp.ComponentName.split(' ').join('').trim()+idx}}"><b>
                                                    {{cmp.ComponentName}}</b></label>
                                              </td>
                                              <td class="compname"
                                                *ngIf="tmplate.TemplateColumn.Name && cmp.ControlType != 'Label'">
                                                <ng-container
                                                  *ngIf="tmplate.TemplateColumn.Name"></ng-container>
                                                <label
                                                  [className]="res.Components.length == 1 ? 'margin-0-vr bold':'margin-0-vr'"
                                                  for="{{cmp.ComponentName.split(' ').join('').trim()+idx}}">{{cmp.ComponentName}}</label>
                                              </td>

                                              <td class="test-data-pstv result"
                                                *ngIf="tmplate.TemplateColumn.Result">
                                                <ng-container
                                                  *ngIf="tmplate.TemplateColumn.Result">
                                                  <span
                                                    *ngIf="!cmp.IsAbnormal">{{cmp.Value}}</span>
                                                  <span
                                                    *ngIf="cmp.IsAbnormal"><strong>{{cmp.Value}}</strong></span>
                                                </ng-container>
                                              </td>
                                              <td class="test-data-pstv flag"
                                                *ngIf="showHideHighLowNormalFlag && tmplate.TemplateType=='normal'">
                                              </td>

                                              <td class="test-data-pstv unit"
                                                *ngIf="tmplate.TemplateColumn.Unit">
                                                <ng-container>
                                                  {{ cmp.Unit }}
                                                </ng-container>
                                              </td>

                                              <!--We need to use InnerHTML and white-space:pre-line; to maintain the line Breaks, -->
                                              <td class="test-data-pstv range"
                                                *ngIf="tmplate.TemplateColumn.Range"
                                                [innerHTML]="cmp.RangeDescription"></td>
                                              <td class="test-data-pstv method"
                                                *ngIf="tmplate.TemplateColumn.Method">
                                                <ng-container>
                                                  {{cmp.Method}}
                                                </ng-container>
                                              </td>
                                              <td class="test-data-pstv remarks"
                                                *ngIf="tmplate.TemplateColumn.Remarks">
                                                <ng-container>
                                                  {{cmp.Remarks}}
                                                </ng-container>
                                              </td>
                                            </tr>
                                          </ng-container>
                                          <ng-container
                                            *ngIf="res.Components[0].IsNegativeResult">
                                            <ng-container
                                              *ngFor="let cmp of res.Components">
                                              <tr class="res-negative-rw">
                                                <td
                                                  *ngIf="tmplate.TemplateColumn.Name"
                                                  class="padding-15-hr">
                                                  Result
                                                </td>
                                                <td
                                                  *ngIf="tmplate.TemplateColumn.Result"
                                                  class="padding-15-hr text-center">
                                                </td>
                                                <td class="neg-data neg-unit"
                                                  *ngIf="tmplate.TemplateColumn.Unit"></td>
                                                <td class="neg-data neg-range"
                                                  *ngIf="tmplate.TemplateColumn.Range"></td>
                                                <td class="neg-data neg-method"
                                                  *ngIf="tmplate.TemplateColumn.Method"
                                                  style="
                                                      border-right: 1px solid black;
                                                    "></td>
                                                <td class="neg-data neg-remarks"
                                                  *ngIf="tmplate.TemplateColumn.Remarks"></td>
                                              </tr>
                                            </ng-container>
                                          </ng-container>

                                        </ng-container>
                                        <tr></tr>
                                      </tbody>
                                    </ng-container>

                                    <ng-container
                                      *ngIf="tmplate.TemplateType=='culture'">
                                      <ng-container
                                        *ngFor="let tst of tmplate.Tests">
                                        <tr class="row-brdr not-bdr-cltr">
                                          <td colspan="3"
                                            style="padding: 0px 7px;">
                                            <!--below is temporary solution until we get proper sample from server side: sud:5Sept'18-->
                                            Specimen:
                                            <input type="text"
                                              [(ngModel)]="report.Lookups.Specimen" />
                                            <!-- (focusout)="UpdateSpecimen(tst)" class="no-print" /> -->
                                            <span
                                              class="hidden">{{report.Lookups.Specimen}}</span>
                                          </td>
                                        </tr>
                                        <ng-container
                                          *ngFor="let culRepFormatted of ResultFormattedForCulture; let c =index;">
                                          <tr class="row-brdr not-bdr-cltr">
                                            <td style="padding: 0px 7px;">
                                              <b>Result</b>
                                            </td>
                                            <td class="cs-result" colspan="2">
                                              <!-- <b>{{culRepFormatted.IsolatedOrganism}}  -->
                                              <!-- </b> -->
                                            </td>
                                          </tr>

                                          <ng-container
                                            *ngIf="culRepFormatted.HasOthersFields">
                                            <tr class="row-brdr not-bdr-cltr"
                                              *ngFor="let ot of culRepFormatted.Others">
                                              <td style="padding: 0px 7px;"
                                                colspan="3">
                                                <b>{{ot}}</b>
                                              </td>
                                            </tr>
                                          </ng-container>

                                          <tr
                                            *ngIf="culRepFormatted.ColonyCount.length > 0"
                                            class="row-brdr not-bdr-cltr">
                                            <td colspan="3"
                                              style="padding: 0px 7px;">
                                              Colony Count:
                                              <span>{{culRepFormatted.ColonyCount}}</span>
                                            </td>
                                          </tr>

                                          <ng-container
                                            *ngIf="culRepFormatted.MaxLenArray && culRepFormatted.MaxLenArray.length > 0">
                                            <tr class="row-brdr not-bdr-cltr">
                                              <td style="
                                                              padding: 0px 7px;
                                                              text-align: center;
                                                            " colspan="3">
                                                <b>Antibiotics Result</b>
                                              </td>
                                            </tr>
                                            <tr class="sensitiv-rst-hd">
                                              <td><b>Sensitive</b></td>
                                              <td
                                                *ngIf="showIntermediateInCultureRpt">
                                                <b>Intermediate</b>
                                              </td>
                                              <td><b>Resistant</b></td>
                                            </tr>
                                            <tr class="sensitiv-rst-data"
                                              *ngFor="let itm of culRepFormatted.MaxLenArray; let i=index;">
                                              <td>
                                                <span
                                                  *ngIf="culRepFormatted.Sensitive.length>i">
                                                  {{culRepFormatted.Sensitive[i]}}
                                                </span>
                                              </td>
                                              <td
                                                *ngIf="showIntermediateInCultureRpt">
                                                <span
                                                  *ngIf="culRepFormatted.Intermediate.length>i">
                                                  {{culRepFormatted.Intermediate[i]}}
                                                </span>
                                              </td>
                                              <td>
                                                <span
                                                  *ngIf="culRepFormatted.Resistant.length>i">
                                                  {{culRepFormatted.Resistant[i]}}
                                                </span>
                                              </td>
                                              <div
                                                *ngIf="report.FooterText && report.FooterText != ''">

                                                <input
                                                  class="dontShowInPrint outer-select"
                                                  id="footerTxt"
                                                  type="checkbox"
                                                  [(ngModel)]="report.FooterText" />
                                                <label for="footerTxt"
                                                  class="lab-footer-text"
                                                  style="font-size: 10px; margin: 2px 0px; font-weight: 700;"
                                                  [innerHTML]="report.FooterText"></label>
                                              </div>

                                              <div>
                                                <div *ngIf="report"
                                                  style="margin-top: 10px; padding-bottom: 50px; width: 100%;">

                                                </div>
                                                <div
                                                  class="popup-static portlet box portlet-fullscreen"
                                                  *ngIf="showPopUp">
                                                  <div
                                                    class="portlet-body form">
                                                    <div
                                                      class="col-md-6 col-md-offset-3">
                                                      <div
                                                        class="modelbox-div">
                                                        <div
                                                          class="modelbox-footer">
                                                          <button
                                                            type="button"
                                                            class="btn btn-cancel btn-sm margin-7-hr"
                                                            (click)="closePopUpBox()">
                                                            Cancel
                                                          </button>
                                                        </div>
                                                      </div>
                                                      <div
                                                        class="close-modelbox">
                                                        <button
                                                          class="btn btn-danger"
                                                          (click)="closePopUpBox()">
                                                          X
                                                        </button>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </tr>
                                          </ng-container>
                                        </ng-container>
                                      </ng-container>
                                    </ng-container>
                                  </ng-container>
                                </table>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </ng-container>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>